* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.box {
  padding: 0 100px;
}

/* header-top */
.header-top {
  background-color: #0C325A;
  text-align: center;
}

.header-top::after {
  content: "";
  display: table;
  clear: both;
}

.logo, .nav-left, .nav-right {
  float: left;
}

/* logo sinistra */
.logo {
  width: 15%;
  text-align: left;
  padding: 6px 0;
}

/* menu sinistro */
.nav-left {
  width: 50%;
}

.menu-inline li {
  display: inline-block;
  list-style: none;
  line-height: 50px;
  margin: 0 6px;
}

.menu-inline li a {
  font-size: 12px;
  font-weight: 600;
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
}

/* menu destro */
.nav-right {
  width: 35%;
  text-align: right;
}

/* menu destro bottoni*/
.nav-right .button-blank a, .nav-right .button-green a {
  padding: 6px 10px;
  border-radius: 5px;
}

.nav-right .button-blank a {
  border: 1px solid whitesmoke
}

.nav-right .button-green a {
  background-color: #7CBB02;
}

/* header-bottom */
.header-bottom {
  background-color: #0C325A;
  height: calc(100vh - 53px);
  background-image: url(../img/background-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: whitesmoke;
  padding-top: 4px;
  position: relative;
}

.header-bottom .text-container {
  text-align: left;
  width: 45%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.header-bottom .text-container h1 {
  font-size: 35px;
}

.text-container .button-green {
  display: inline-block;
  background-color: #7CBB02;
  padding: 14px 25px;
  border-radius: 5px;
  margin-top: 14px
}

.text-container .button-green a {
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;
}

/* main */
/* main-top */
.main-top {
  background-color: #D3D3D3;
  text-align: center;
  padding: 35px 0;
}

.main-top p {
  margin-top: 10px;
  color: #939393
}

/* main-center */
.main-center {
  text-align: center;
}

.main-center::after {
  content: "";
  display: table;
  clear: both;
}

.main-center .col-left, .main-center .col-center, .main-center .col-right {
  float: left;
  width: 33.33%;
  padding: 40px 15px 35px 15px;
  background-color: white;
}

.main-center hr {
  width: 60px;
  margin: 15px auto;
}

.img-container-center img {
  height: 150px;
}

.main-center .text-container h3 {
  margin-top: 15px;
  color: #7CBB02
}

.main-center .text-container p {
  color: #808080;
}

/* hr-center */
.hr-center {
  width: 90%;
  margin: auto;
}

/* main-bottom */
.main-bottom {
  margin-top: 20px;
}

.main-bottom::after {
  content: "";
  display: table;
  clear: both;
}

.main-bottom .col-left, .main-bottom .col-right {
  float: left;
  width: 50%;
  padding: 25px 15px 35px 15px;
}

/* footer */
footer {
  background-color: #D3D3D3;
  height: 100px;
}